.sidebar {
  width: 290px;
  background-color: #f7f9fc;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  @media screen and (max-width: 1124px) {
    width: 100%;
    height: 60px;
    z-index: 100;
    .logo-side {
      justify-content: space-between;
    }
    .bar {
      display: flex;
    }
    & .header-side {
      & nav{
        border-radius: 0 10px 0 0;
      }
      position: absolute;
      height: 93vh;
      padding: 20px;
      top: 60px;
      left: 0;
      width: 290px;
      box-shadow: 10px 10px 20px #bbb;
      border-radius: 0 10px 0 0;
      transform: translateX(-120%);
      margin-top: 0;
      @media screen and (max-width: 500px) {
        width: 200px;
      }
    }
  }
}

.header-side {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #fff;
  transition: 0.4s;
  justify-content: space-between;
  width: 270px;
  height: 90%;
  margin-top: 40px;
 
}

.header-side.open{
  transform: translateX(0);
}

.logo-side {
  display: flex;
  justify-content: center;
}

.bar {
  width: 30px;
  height: 30px;
  flex-direction: column;
  display: none;
  gap: 3px;
  cursor: pointer;
  & span {
    background: #000;
    height: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 6px;
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 6px;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #007bff;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  gap: 10px;
}

li.active .link {
  font-weight: bold;
  background-color: #d7e6fb;
  color: #0056b3;
}

.link:hover {
  background-color: #d7d7d7;
}

.icon {
  margin-right: 10px;
  color: #007bff;
}

.chatlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  width: 100%;
}

.chatlink div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-header {
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  margin: 20px 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.section-header:hover .icon {
  visibility: visible;
}

.section-header .icon {
  visibility: hidden;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.premium-button {
  display: block;
  max-width: 200px;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  @media screen and (max-width: 500px) {
    max-width: 150px;
  }
}

.premium-button:hover {
  background-color: #0056b3;
}

.user-info p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  border: 1px solid #bbb;
  position: fixed;
  z-index: 9999999;
  height: 300px;
  overflow: auto;
  top: 170px;
  left: 100px;
  @media screen and (max-width: 500px) {
    padding: 5px;
    width: 200px;
  }
}


.blocks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.block {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  & div {
    & h4 {
      font-size: 15px;
    }
    & p {
      font-size: 12px;
    }
  }
}

.block img {
  width: 35px;
  height: 30px;
  border-radius: 5px;
}

.block:hover {
  background-color: #f0f0f0;
}
