.home {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 1124px) {
    justify-content: space-between;
  }
  @media screen and (max-width: 610px) {
    flex-direction: column;
  }
  & .cardai {
    @media screen and (max-width: 1124px) {
      width: 49%;
    }
    @media screen and (max-width: 1555px) {
      & h2 {
        font-size: 30px;
      }
    }
    @media screen and (max-width: 610px) {
      width: 100%;
    }
    padding: 30px 20px;
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & h2 {
      @media screen and (max-width: 1555px) {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 10px;
        width: 80%;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        padding-bottom: 0;
      }
      @media screen and (max-width: 400px) {
        font-size: 26px;
      }
      font-size: 40px;
      font-weight: bolder;
      width: 50%;
    }
    & p {
      width: 50%;
      font-size: 20px;
      line-height: 30px;
      @media screen and (max-width: 1555px) {
        padding-bottom: 10px;
        width: 80%;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        padding-bottom: 0;
      }
      @media screen and (max-width: 768px) {
        line-height: 25px;
      }
      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
    }
    & div {
      display: flex;
      gap: 20px;
      @media screen and (max-width: 400px) {
        flex-direction: column;
      }
      & .start,
      .premium {
        @media screen and (max-width: 400px) {
          width: 100%;
        }
        width: 50%;
        height: 50px;
      }
      & .start button {
        background: #eee;
        border: none;
        color: #000;
        width: 100%;
        height: 100%;
      }
      & .premium button {
        color: #007bff;
        background: #cae4ff;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
  & .card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
  }
  & .cardas {
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (max-width: 1124px) {
      width: 49%;
    }
    @media screen and (max-width: 610px) {
      width: 100%;
    }
    width: 42%;
    height: 40vh;
    overflow: hidden;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h3 {
      @media screen and (max-width: 1555px) {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 10px;
        width: 80%;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        padding-bottom: 0;
      }
      @media screen and (max-width: 400px) {
        font-size: 26px;
      }
      text-align: center;
      font-size: 30px;
      padding-bottom: 8px;
    }
    & p {
      @media screen and (max-width: 1555px) {
        padding-bottom: 10px;
        width: 80%;
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        padding-bottom: 0;
      }
      @media screen and (max-width: 768px) {
        line-height: 25px;
      }
      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
      font-size: 20px;
      text-align: center;
      padding-bottom: 30px;
    }
    & .blocks {
      display: flex;
      gap: 20px;
      animation: slide 30s linear infinite;
      padding-left: 0;
      margin-left: 0;
      white-space: nowrap;
      @media screen and (max-width: 1124px) {
        animation: slide 15s linear infinite;
      }
    }
    & .cardsw {
      display: flex;
      gap: 30px;
    }
    & .block {
      width: 318px;
      height: 218px;
      border: 1px solid #bbb;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      padding: 20px;
      & img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 10px;
      }
      h5 {
        font-weight: bolder;
        font-size: 20px;
        margin-bottom: 10px;
      }
      & p {
        font-size: 14px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 1124px) {
  .home-bot {
    width: 100%;
  }
}

.home-bot {
  @media screen and (max-width: 1124px) {
    width: 100%;
  }
  width: 83%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  & .home-bot-top{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  & .home-bot-bot{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  & .card-bot {
    transition: 0.4s;
    cursor: pointer;
  }
  & .card-bot:hover {
    box-shadow: 0px 20px 20px #bbb;
    transform: translateY(-10px);
  }
  & .cardbot{
    width: 31%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  & .card {
    padding: 20px;
    overflow: hidden;
    height: 320px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & img {
      width: 100%;
      height: 160px;
      border-radius: 8px;
    }
    & div {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 30px;
    }
    & button {
      background: #eee;
      color: #000;
      border: none;
      width: 100%;
      font-weight: bolder;
    }
  }
  & .cardrob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .blocks {
      display: flex;
      justify-content: center;
      align-items: start;
      & .vs {
        font-size: 18px;
      }
      & .gpt {
        display: flex;
        align-items: start;
        & img {
          width: 30px;
          height: 30px;
          @media screen and (max-width: 992px) {
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
          }
        }
        & p {
          font-size: 16px;
        }
      }
    }
    & .sms {
      display: flex;
      gap: 20px;
      & p {
        font-size: 16px;
        padding: 10px;
        background-color: #e1e1e1;
        border-radius: 10px;
        @media screen and (max-width: 992px) {
          padding: 5px;
          font-size: 13px;
        }
      }
    }
    & .pod {
      padding: 5px;
      font-size: 13px;
      text-align: center;
    }
  }
  & .cardvid {
    & video {
      height: 150px;
    }
  }
}
.card-bot1 {
  height: 180px;
  padding: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
  cursor: pointer;
  & img {
    width: 100%;
    height: 160px;
    border-radius: 8px;
  }
  & div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
  }
  & button {
    background: #eee;
    color: #000;
    border: none;
    width: 100%;
    font-weight: bolder;
  }
  & .text {
    display: flex;
    align-items: center;
    gap: 10px;
    & p {
      font-size: 13px;
      font-weight: bold;
      color: rgb(72, 0, 255);
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  &:hover {
    box-shadow: 0px 20px 20px #bbb;
    transform: translateY(-10px);
  }
}
.podd {
  font-weight: bold;
  font-size: 15px;
  color: #484848;
  margin-bottom: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
